* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 98vw;
  height: 100vh;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.bgstyle {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("./Images/Image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: #fff;
}

/* common css */
.mobile {
  display: none !important;
}
.container {
  position: relative;
  z-index: 999;
}
/* common css */
